@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap');


*, *::after{
    box-sizing: border-box;
    scroll-behavior: smooth !important;
    margin: 0;
    padding: 0;
}



:root{
    --bright-red: hsl(12, 88%, 59%);
    --dark-blue: hsl(228, 39%, 23%);
    --secondary-gray-blue: hsl(227, 12%, 61%);
    --secondary-dark-blue: hsl(233, 12%, 13%);
    --pale-red: hsl(13, 100%, 96%);
    --light-gray: hsl(0, 0%, 98%);
}


/* universal */
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 70%;
    margin: 0 auto;
}
button:focus, input:focus{
    outline: none;
}




/* body */
body{
    position: relative;
    font-family: 'Be Vietnam', sans-serif;
    overflow-x: hidden;
    background-color: #fff;
}

.top_overlay{
    position: absolute;
    width: 50%;
    top: -100px;
    right: -50px;
    z-index: -1;
}




/* header */
header{
    padding: 2rem 0;
}

header .container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

header .logo,
header nav,
header .btn{
    align-self: center;
}

header nav{
    text-align: center;
}

header .btn{
    text-align: right;
}

header li{
    display: inline;
    padding: 0 1rem;
}

header li a{
    font-size: 0.8rem;
    transition: all 0.3s ease;
    color: var(--dark-blue);
}

header button{
    background-color: var(--bright-red);
    border: 0;
    border-radius: 2rem;
    padding: 0.8rem 2rem;
    font-size: 0.8rem;
    color: var(--light-gray);
    box-shadow: 2px 4px 10px var(--secondary-gray-blue);
    cursor: pointer;
    transition: all 0.3s ease;
}









/* showcase */
#showcase{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#showcase img{
    width: 100%;
}

.showcase_inner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 2rem;
}

.showcase_inner .text{
    align-self: center;
    /* padding-right: ; */
}

.showcase_inner h1{
    font-size: 2.2rem;
    color: var(--dark-blue);
}

.showcase_inner p{
    font-size: 1rem;
    line-height: 1.4;
    margin: 2rem 0 4rem 0;
    color: var(--secondary-gray-blue);
}

.showcase_inner a{
    padding: 1rem 3rem;
    color: var(--light-gray);
    background-color: var(--bright-red);
    font-size: 0.8rem;
    border-radius: 2rem;
    box-shadow: 2px 2px 10px var(--bright-red);
    transition: all 0.3s ease;
}














/* about */
#about{
    position: relative;
    padding: 4rem 0;
}

.bottom_overlay{
    position: absolute;
    width: 40%;
    left: -200px;
    bottom: -200px;
    z-index: -1;
}

.about_inner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 2rem;
}

.about_inner .text{
    padding-right: 2rem;
}

.about_inner .list{
    display: grid;
    grid-gap: 2rem 0;
}

.about_inner .list > div{
    display: flex;
}

.about_inner .number{
    display: inline-block;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: var(--bright-red);
    color: var(--light-gray);
    margin-right: 1rem;
}

.about_inner h2{
    color: var(--dark-blue);
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.about_inner h3{
    font-size: 1.2rem;
    color: var(--dark-blue);
    font-weight: 400;
    margin-bottom: 2rem;
}

.about_inner p{
    font-size: 0.9rem;
    line-height: 1.4;
    color: var(--secondary-gray-blue);
}










/* testmonials */
#testimonials{
    padding: 4rem 0;
}